body {
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.btn{
    height: 40px;
    width: 100px;
}
.btn:hover {
    background-color: green;
    color: white;
}
.btn::before {
    content: "Pasa por encima"
}
.btn:hover::before {
    content: "¡Hecho!"
}
